<mat-toolbar class="stb">
    <div [routerLink]="''" style="outline: none;">
        <a style="color: goldenrod; font-size: 22px;margin-left: 15px;cursor: pointer;">M</a>
        <a style="color: maroon; font-size: 22px;cursor: pointer;">a</a>
        <a style="color: green; font-size: 22px;cursor: pointer;">n</a>
        <a style="color: navy; font-size: 22px;cursor: pointer;">!</a>
    </div>
    <div class="text" style="margin-left: 400PX;font-size: 13px;color: gray;cursor: default;">
        <a style="color: lightseagreen;"><u>B&nbsp;A&nbsp;G</u></a>&nbsp;&nbsp;
        <a>------------</a>&nbsp;&nbsp;
        <a>A&nbsp;D&nbsp;D&nbsp;R&nbsp;E&nbsp;S&nbsp;S</a>&nbsp;&nbsp;
        <a>------------</a>&nbsp;&nbsp;
        <a>P&nbsp;A&nbsp;Y&nbsp;M&nbsp;E&nbsp;N&nbsp;T</a>&nbsp;&nbsp;
    </div>    
    <mat-icon style="color: green;margin-left: 300px;">verified</mat-icon>&nbsp;
      <a style="font-size: 13px;color: gray;">1&nbsp;0&nbsp;0&nbsp;%&nbsp;&nbsp;S&nbsp;E&nbsp;C&nbsp;U&nbsp;R&nbsp;E</a>
    
</mat-toolbar>

<div class="bag">
    <img src="../../assets/o7.jpg" style="width: 300px;height: 300px;"><br>
    
    <a style="font-size: 21px;margin-left: 65px;cursor: default;">
        Hey,it feels so light!
    <br><a style="color: grey;font-size: 13px;margin-left: 20px;">There is nothing in your bag Let's add some items.</a>
</a>
<br><br>
<button mat-stroked-button [routerLink]="'/wishlist'"
style="width: 250px;font-size:14px;height: 35px;outline: none;margin-left: 35px;border-color: orange;color:goldenrod ;">
ADD&nbsp; ITEMS&nbsp;FR0M&nbsp;WISHLIST</button>
</div>
