<mat-toolbar class="toolbar" fxHide.gt-xs>
  <mat-toolbar-row>
 <div [routerLink]="''" style="outline: none;">
   <a style="color: goldenrod; font-size: 22px;margin-left: 15px;cursor: pointer;">M</a>
   <a style="color: maroon; font-size: 22px;cursor: pointer;">a</a>
   <a style="color: green; font-size: 22px;cursor: pointer;">n</a>
   <a style="color: navy; font-size: 22px;cursor: pointer;">!</a>
   </div>
   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
 
   <div class="dropdown">
   <h6 style="color:#1b4553 ;">MEN</h6>
   <div class="dropdown-content">
   <div class="row">
   <div class="column" style="background-color:white;font-weight: normal;">
   <h6 style="color:lightseagreen">Toppwear</h6>
   <a [routerLink]="'/men-tshirts'" style="text-decoration: none;color: black;">T-Shirts</a><br>
   <a>Casual Shirts</a><br>
   <a>Formal Shirts </a><br>
   <a>Sweatshirts</a><br>
   <a>Sweaters</a><br>
   <a>Jackets</a>
   </div>
             
   <div class="column" style="background-color:ghostwhite;font-weight: normal;">
   <h6 style="color: lightseagreen">Bottomwear</h6>
   <a>Jeans</a><br>
   <a>Casual Trousers</a><br>
   <a>Formal Trousers</a><br>
   </div>
   <div class="column" style="background-color:white;font-weight: normal;">
   <h6 style="color: lightseagreen">Fottwear</h6>
   <a>Casual Shoes</a><br>
   <a>Sports Shoes</a><br>
   <a>Formal Shoes</a><br>
   </div>
   <div class="column" style="background-color:ghostwhite;font-weight: normal;">
   <h6 style="color: lightseagreen">Sports & Activewear</h6>
   <a>Sports Shoes</a><br>
   <a>Sports Sandals</a><br>
   <a>Jackets & Sweatshirts</a><br>
   </div>
   <div class="column" style="background-color:white;font-weight: normal;">
   <h6 style="color: lightseagreen">Innerwear & Sleepwear</h6>
   <a>Briefs & Trunks</a><br>
   <a>Boxers</a><br>
   <a>Vests</a><br>
   </div>
   </div>
           
   </div>
   </div>&nbsp;&nbsp;&nbsp;&nbsp;
       
   <div class="dropdown">
   <h6 style="color:#1b4553 ;">WOMEN</h6>
   <div class="dropdown-content2">
   <div class="row">
   <div class="column" style="background-color:white;font-weight: normal;">
   <h6 style="color:magenta">India & Fusion Wear</h6>
   <a>Kurtas & Suits</a><br>
   <a>Kurtas,Tunics & Tops</a><br>
   <a>Ethnic Dresses </a><br>
   </div>
   <div class="column" style="background-color:ghostwhite;font-weight: normal;">
   <h6 style="color:magenta ">Western Wear</h6>
   <a>Dresses & Jumpsits</a><br>
   <a>Top,T-Shirts & Shirts</a><br>
   <a>Jeans & Jeggings</a><br>
   </div>
   <div class="column" style="background-color:white;font-weight: normal;">
   <h6 style="color:magenta">Fottwear</h6>
   <a>Flats</a><br>
   <a>Casual Shoes</a><br>
   <a>Heels</a><br>
   </div>
   <div class="column" style="background-color:ghostwhite;font-weight: normal;">
   <h6 style="color:magenta">Sports & Activewear</h6>
   <a>Clothing</a><br>
   <a>Sports Accessories</a><br>
   <a>Sports Equipment</a><br>
   </div>
   <div class="column" style="background-color:white;font-weight: normal;">
   <h6 style="color: magenta">Jewellery</h6>
   <a>Fanshion Jewellery</a><br>
   <a>Fine Jewellery</a><br>
   <a>Earrings</a><br>
   </div>
   </div>
           
   </div>
   </div>&nbsp;&nbsp;&nbsp;
       
   <div class="dropdown">
   <h6 style="color:#1b4553 ;">KIDS</h6>
   <div class="dropdown-content3">
   <div class="row">
   <div class="column" style="background-color:white;font-weight: normal;">
   <h6 style="color:goldenrod">Boys Clothing</h6>
   <a>T-Shirts</a><br>
   <a>Shorts</a><br>
   <a> Jeans</a><br>
   </div>
   <div class="column" style="background-color:ghostwhite;font-weight: normal;">
   <h6 style="color: goldenrod">Girls Clothing</h6>
   <a>Dresses</a><br>
   <a>Tops</a><br>
   <a>Clothing Sets</a><br>
   </div>
   <div class="column" style="background-color:white;font-weight: normal;">
   <h6 style="color: goldenrod">Boys Fottwear</h6>
   <a>Casual Shoes</a><br>
   <a>Sports Shoes</a><br>
   <a>Sandals</a><br>
   </div>
   <div class="column" style="background-color:ghostwhite;font-weight: normal;">
   <h6 style="color: goldenrod">Girls Footwear</h6>
   <a>Flats</a><br>
   <a>Casual shoes</a><br>
   <a>Heels</a><br>
   </div>
   <div class="column" style="background-color:white;font-weight: normal;">
   <h6 style="color: goldenrod">Kids Accessories</h6>
   <a>Bags & Backpacks</a><br>
   <a>Watches</a><br>
   <a>Jewwellery</a><br>
   </div>
   </div>
           
   </div>
   </div>&nbsp;&nbsp;&nbsp;&nbsp;
       
       
   <div class="dropdown">
   <h6 style="color:#1b4553 ;">HOME & LIVING</h6>
   <div class="dropdown-content4">
   <div class="row">
   <div class="column" style="background-color:white;font-weight: normal;">
   <h6 style="color:forestgreen">Bed Linen & Furnishing</h6>
   <a>Bedsheets</a><br>
   <a>Bedding Sets</a><br>
   <a> Pillows & Pillow Cover</a><br>
   </div>
   <div class="column" style="background-color:ghostwhite;font-weight: normal;">
   <h6 style="color: forestgreen">Bath</h6>
   <a>Bath Towels</a><br>
   <a>Hand & Face Towels</a><br>
   <a>Bathroom Accesories</a><br>
   </div>
   <div class="column" style="background-color:white;font-weight: normal;">
   <h6 style="color: forestgreen">Home Decor</h6>
   <a>Plants & Planters</a><br>
   <a>Aromas & Candles</a><br>
   <a>Clocks</a><br>
   </div>
   <div class="column" style="background-color:ghostwhite;font-weight: normal;">
   <h6 style="color: forestgreen">Flooring</h6>
   <a>Carpets</a><br>
   <a>Floor Marts & Dhurries</a><br>
   <a>Door Mats</a><br>
   </div>
   <div class="column" style="background-color:white;font-weight: normal;">
   <h6 style="color: forestgreen">Kitchen & Table</h6>
   <a>Tableware</a><br>
   <a>Bar</a><br>
   <a>Cookware</a><br>
   </div>
   </div>
           
   </div>
   </div>&nbsp;&nbsp;&nbsp;&nbsp;
   <div class="dropdown">
   <h6 style="color:#1b4553 ;"> ESSENTIALS</h6>
   <div class="dropdown-content5">
   <div class="row">
   <div class="column" style="background-color:white;font-weight: normal;">
   <a>Masks</a><br>
   <a>Skincare</a><br>
   <a>Haircare </a><br>
   <a>Bath & Body </a><br>
   <a>Men's Grooming</a><br>
   <a>Baby Care </a><br>
   <a>Hair Styling </a><br>
   <a>At Home Saion </a><br>
 
   </div>
   </div>
   </div>
   </div>
  
  
   <div class="form-group has-search">
     <span class="fa fa-search form-control-feedback"></span>
      <input type="text" class="form-control" placeholder="Search for Products,brands and more">
   </div> 
       
         
   <div class="dropdown2">
   <div class="outer-div" >
   <mat-icon 
       style="color: darkcyan;cursor: pointer;outline: none;">person_outline</mat-icon>
    <span>Profile</span>
   </div>
   <div class="dropdown2-content6">
   <div class="row">
   <div class="column" style="background-color:white;">
   <h6>&nbsp;Welcome<br>
     <span style="font-size: 13px;">&nbsp;&nbsp;To access account and manage order</span></h6>
     <button mat-raised-button  [routerLink]="'/login'" class="logbutton" style="outline: none;">
             LOGIN / SIGNUP</button><hr style="width: 270px;">
             
       <a>Orders</a><br>
       <a>Wishlist</a><br>
       <a>Gift Cards </a><br>
       <a>Contact Us </a><hr style="width: 270px;">
       <a>Mani Credit</a><br>
       <a>Coupans </a><br>
       <a>Saved Addresses </a><br><br>
 
    </div>
    </div>
    </div>
    </div>
       &nbsp;&nbsp;&nbsp;
       <span class="toolbar-spacer"></span>
       <div class="outer-div" [routerLink]="'/wishlist'">
       <mat-icon  
       style="color: darkcyan;cursor: pointer;outline: none;">favorite_border</mat-icon> 
       <span>Wishlist</span>
       </div>&nbsp;&nbsp;&nbsp;
       <div class="outer-div" [routerLink]="'/shoppingbag'">
       <mat-icon   
       style="color: darkcyan;cursor: pointer;outline: none;">shopping_bag</mat-icon>
       <span>Bag</span>
       </div>&nbsp;&nbsp;&nbsp;
       
       
       
 </mat-toolbar-row>
 </mat-toolbar>
  <br><br><br>
           
           <router-outlet></router-outlet>      
 <br>

 <div class="z" style="padding: 20px;float: left;">      
    <div class="t1">
    <img src="../../assets/t1.jpg" style="height: 500px;width: 370px;">
    </div>
    <div class="t1">
    <img src="../../assets/z1.jpg" style="height: 500px;width: 370px;">
    </div><br>
    <div class="t1">
    <img src="../../assets/z2.jpg" style="height: 500px;width: 370px;">
    </div>
    <div class="t1">
    <img src="../../assets/z3.jpg" style="height: 500px;width: 370px;">
    </div><br>
    <div class="t1">
    <img src="../../assets/z5.jpg" style="height: 500px;width: 370px;">
    </div>
    
</div>
<div class="text" style="padding: 20px;">
 <h4>Roadster<br>
    <a style="font-weight: normal;font-size: 19px;color: gray;">Men Navy Blue Striped Round Neck T-shirt</a>
        <br><br>
        Rs. 399 &nbsp;<del style="font-weight: normal;color: gray;font-size: 20px;">Rs. 699</del>&nbsp;<a style="color: orange;font-size: 18px;">(50% OFF)</a> 
 </h4>
    <a style="font-size: 15px;color: deepskyblue;">inclusive of all texes</a><br><br>
    <h6>SELECT SIZE</h6>
    <div class="sb" style="margin-left: 880px;"> 
    <button mat-stroked-button class="btn btn-outline-secondary" 
    ngbPopover="Garment Measurement: Chest - 38.0in 
    The model (height 6')is wearing a size M " 
    triggers="mouseenter:mouseleave"
    style="border-radius: 100%;height: 60px;width: 10px;outline: none;">S</button>&nbsp;&nbsp;&nbsp;&nbsp;
    <button mat-stroked-button 
    class="btn btn-outline-secondary" 
    ngbPopover="Garment Measurement: Chest - 40.0in 
    The model (height 6')is wearing a size M" 
    triggers="mouseenter:mouseleave"
    style="border-radius: 100%;height: 60px;width: 10px;outline: none;">M</button>&nbsp;&nbsp;&nbsp;&nbsp;
    <button mat-stroked-button class="btn btn-outline-secondary" 
    ngbPopover="Garment Measurement: Chest - 42.0in 
    The model (height 6')is wearing a size M" 
    triggers="mouseenter:mouseleave"
    style="border-radius: 100%;height: 60px;width: 10px;outline: none;">L</button>&nbsp;&nbsp;&nbsp;&nbsp;
    <button mat-stroked-button class="btn btn-outline-secondary" 
    ngbPopover="Garment Measurement: Chest - 44.5in 
    The model (height 6')is wearing a size M" 
    triggers="mouseenter:mouseleave"
    style="border-radius: 100%;height: 60px;width: 10px;outline: none;">XL</button>
  </div>

<br>
<button mat-raised-button [routerLink]="'/shoppingbag'"
 style="width: 250px;height: 60px;background-color: #1b4553;color: white;outline: none;border-radius: 5px;">
  <mat-icon style="color: white;cursor: pointer;outline: none;font-size: 25px;">shopping_bag</mat-icon>&nbsp;&nbsp;
  <a style="font-size:17px;">ADD TO BAG</a></button>&nbsp;&nbsp;&nbsp;
<button mat-stroked-button [routerLink]="'/wishlist'"
 style="width: 200px;height: 60px;background-color:white;color: #1b4553;outline: none;border-radius: 5px;">
  <mat-icon style="color: #1b4553;cursor: pointer;outline: none;font-size: 25px;">favorite_border</mat-icon>&nbsp;&nbsp;
  <a style="font-size:17px;">WISHLIST</a></button>
  <br><br><br>
  <a style="font-size: 20px;font-weight: 500;">DELIVERY OPTIONS</a>&nbsp;
  <mat-icon style="color: #1b4553;cursor: pointer;outline: none;font-size: 20px;">local_shipping</mat-icon>
  <br><br>
  <input type="text" placeholder="Enter Pincode" maxlength="6"
  style="width: 250px;height: 40px;padding: 5px;outline: none;">
  <br><a style="font-size: 11px;color: gray;"> 
  Please enter PIN code to check delivery time & Pay on Delivery Availability</a>
  <br><br>
 <a style="font-size: 15px;font-weight: normal;"> 100% Original Products<br>
    Free Delivery on order above Rs. 799<br>
    Pay on delivery might be available<br>
    Easy 30 days returns and exchanges<br>
    Try & Buy might be available</a>
    <br><br><br><br>
    <a style="font-size: 20px;font-weight: 500;" >BEST OFFERS</a>&nbsp;&nbsp;
    <i class="fa fa-tag" style="font-size: 17px;color: gray;"></i><br><br>
    <a style="font-size: 16px;font-weight: 500;">Best Price: <a style="color: orange;">Rs. 49</a> </a>
    <br>
    <a style="font-size: 15px;font-weight: normal;">
      <li> Applicable on: Orders above Rs. 1999 (only on first purchase)</li>
      <li>Coupon code:<b> MANI300</b></li>
      <li>Coupon Discount: Rs. 300 off (check cart for final savings)</li>
    </a>
   <br>
   <hr style="margin-left: 780px;">
   <br><br>
   <a style="font-size: 20px;font-weight: 500;">PRODUCT DETAILS</a>&nbsp;
   <i class="fa fa-list-alt" style="font-size: 19px;color: gray;"></i><br><br>
   <a style="font-size: 15px;font-weight: normal;">Navy Blue and white striped T-shirt, has a round neck,<br>
     short sleeves</a><br><br><br>

     <a style="font-size: 18px;font-weight: 500;">Size & Fit</a><br>
     <a style="font-size: 15px;font-weight: normal;">The model (height 6') is wearing a size M</a><br><br>
     <a style="font-size: 18px;font-weight: 500;">Material & Care</a><br>
     <a style="font-size: 15px;font-weight: normal;">Cotton<br>
      Machine-wash</a><br><br>
   <a style="font-size: 17px;font-weight: 500;">Specifications</a><br>
<a style="font-size: 12px;color: gray;">Fabric</a> 
<a style="font-size: 12px;color: gray;margin-left: 290px;">Fit</a><br>
<a style="font-size: 15px;font-weight: normal;">Cotton</a>
<a style="font-size: 15px;font-weight: normal;margin-left: 278px;">Regular Fit</a><br>
<hr style="margin-left: 800px;">
<a style="font-size: 12px;color: gray;">Length</a> 
<a style="font-size: 12px;color: gray;margin-left: 285px;">Main Trend</a><br>
<a style="font-size: 15px;font-weight: normal;">Regular</a>
<a style="font-size: 15px;font-weight: normal;margin-left: 270px;">New Basics</a><br>
<hr style="margin-left: 800px;">
<a style="font-size: 12px;color: gray;">Multipack Set</a> 
<a style="font-size: 12px;color: gray;margin-left: 250px;">Neck</a><br>
<a style="font-size: 15px;font-weight: normal;">Single</a>
<a style="font-size: 15px;font-weight: normal;margin-left: 282px;">Round Neck</a><br>
<hr style="margin-left: 800px;">
<a style="font-size: 12px;color: gray;">Occasion</a> 
<a style="font-size: 12px;color: gray;margin-left: 272px;">Casual</a><br>
<a style="font-size: 15px;font-weight: normal;">Pattern</a>
<a style="font-size: 15px;font-weight: normal;margin-left: 273px;">Striped</a><br>
<hr style="margin-left: 800px;">
<a style="font-size: 12px;color: gray;">Sleeve Styling</a> 
<a style="font-size: 12px;color: gray;margin-left: 250px;">Wash Care</a><br>
<a style="font-size: 15px;font-weight: normal;">Regular Sleeves</a>
<a style="font-size: 15px;font-weight: normal;margin-left: 220px;">Machine Wash</a><br>
<hr style="margin-left: 800px;">

<a style="margin-left: 780px;font-size: 17px;font-weight: 500;">Complete The Look</a><br>
<a style="margin-left: 780px;font-size: 15px;font-weight: normal;color: gray;">Upgrade your style when you take a page out of Roadster's book</a><br>
<a style="margin-left: 780px;font-size: 15px;font-weight: normal;color: gray;">with this tee.When you're going for a stroll in the park,put this</a><br> 
<a style="margin-left: 780px;font-size: 15px;font-weight: normal;color: gray;">navy blue piece with a pair of chinos and sneakers to feel both </a><br>
<a style="margin-left: 780px;font-size: 15px;font-weight: normal;color: gray;"> comfortable and stylish outside.</a>
<hr style="margin-left: 800px;">
<br><br><br>
<a style="font-size: 17px;font-weight: 500;padding-left: 30px;">SIMILAR PRODUCTS</a>
<div class="cc" style="padding: 20px;display:flex; flex-direction: row;">
  <mat-card class="card1" [routerLink]="'/tshirts-roadster'">
  <img mat-card-image src="../../assets/t5.jpg" style="height: 260px;">
  <mat-card-content>
  <a style="font-weight:600;">Roadster<br>
  <a style="font-weight: normal;font-size: 12px;">Striped Round Neck Navy Blue</a> <br>
        Rs. 699
  </a>
  </mat-card-content>
  </mat-card>
  
  <mat-card class="card1" style="margin-left: 40px;">
  <img mat-card-image src="../../assets/t2.jpg" style="height: 260px;">
  <mat-card-content>
  <a style="font-weight:600;">HRX by Hrithik Roshan<br>
  <a style="font-weight: normal;font-size: 12px;">Printed Round Neck T-shirt</a> <br>
        Rs. 699
  </a>
  </mat-card-content>
  </mat-card>
  
  <mat-card class="card1" style="margin-left: 40px;">
  <img mat-card-image src="../../assets/t3.jpg" style="height: 260px;">
  <mat-card-content>
  <a style="font-weight:600;">Moda Rapido<br>
  <a style="font-weight: normal;font-size: 12px;">Printed Round Neck T-shirt</a> <br>
        Rs. 649
  </a>
  </mat-card-content>
  </mat-card>
  
  <mat-card class="card1" style="margin-left: 40px;">
  <img mat-card-image src="../../assets/t4.jpg" style="height: 260px;">
  <mat-card-content>
  <a style="font-weight:600;">H&M<br>
  <a style="font-weight: normal;font-size: 12px;">Cotton T-shirt Regular Fit</a> <br>
        Rs. 399
  </a>
  </mat-card-content>
  </mat-card>
  
  <mat-card class="card1" style="margin-left: 40px;">
  <img mat-card-image src="../../assets/t7.jpg" style="height: 260px;">
  <mat-card-content>
  <a style="font-weight:600;">H&M<br>
  <a style="font-weight: normal;font-size: 12px;">Cotton T-shirt Regular Fit</a> <br>
        Rs. 399
  </a>
  </mat-card-content>
  </mat-card>
</div>
<br>

  
  
