<mat-toolbar class="toolbar" fxHide.gt-xs>
  <mat-toolbar-row>
 <div [routerLink]="''" style="outline: none;">
   <a style="color: goldenrod; font-size: 22px;margin-left: 15px;cursor: pointer;">M</a>
   <a style="color: maroon; font-size: 22px;cursor: pointer;">a</a>
   <a style="color: green; font-size: 22px;cursor: pointer;">n</a>
   <a style="color: navy; font-size: 22px;cursor: pointer;">!</a>
   </div>
   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
 
   <div class="dropdown">
   <h6 style="color:#1b4553 ;">MEN</h6>
   <div class="dropdown-content">
   <div class="row">
   <div class="column" style="background-color:white;font-weight: normal;">
   <h6 style="color:lightseagreen">Toppwear</h6>
   <a [routerLink]="'/men-tshirts'" style="text-decoration: none;color: black;">T-Shirts</a><br>
   <a>Casual Shirts</a><br>
   <a>Formal Shirts </a><br>
   <a>Sweatshirts</a><br>
   <a>Sweaters</a><br>
   <a>Jackets</a>
   </div>
             
   <div class="column" style="background-color:ghostwhite;font-weight: normal;">
   <h6 style="color: lightseagreen">Bottomwear</h6>
   <a>Jeans</a><br>
   <a>Casual Trousers</a><br>
   <a>Formal Trousers</a><br>
   </div>
   <div class="column" style="background-color:white;font-weight: normal;">
   <h6 style="color: lightseagreen">Fottwear</h6>
   <a>Casual Shoes</a><br>
   <a>Sports Shoes</a><br>
   <a>Formal Shoes</a><br>
   </div>
   <div class="column" style="background-color:ghostwhite;font-weight: normal;">
   <h6 style="color: lightseagreen">Sports & Activewear</h6>
   <a>Sports Shoes</a><br>
   <a>Sports Sandals</a><br>
   <a>Jackets & Sweatshirts</a><br>
   </div>
   <div class="column" style="background-color:white;font-weight: normal;">
   <h6 style="color: lightseagreen">Innerwear & Sleepwear</h6>
   <a>Briefs & Trunks</a><br>
   <a>Boxers</a><br>
   <a>Vests</a><br>
   </div>
   </div>
           
   </div>
   </div>&nbsp;&nbsp;&nbsp;&nbsp;
       
   <div class="dropdown">
   <h6 style="color:#1b4553 ;">WOMEN</h6>
   <div class="dropdown-content2">
   <div class="row">
   <div class="column" style="background-color:white;font-weight: normal;">
   <h6 style="color:magenta">India & Fusion Wear</h6>
   <a>Kurtas & Suits</a><br>
   <a>Kurtas,Tunics & Tops</a><br>
   <a>Ethnic Dresses </a><br>
   </div>
   <div class="column" style="background-color:ghostwhite;font-weight: normal;">
   <h6 style="color:magenta ">Western Wear</h6>
   <a>Dresses & Jumpsits</a><br>
   <a>Top,T-Shirts & Shirts</a><br>
   <a>Jeans & Jeggings</a><br>
   </div>
   <div class="column" style="background-color:white;font-weight: normal;">
   <h6 style="color:magenta">Fottwear</h6>
   <a>Flats</a><br>
   <a>Casual Shoes</a><br>
   <a>Heels</a><br>
   </div>
   <div class="column" style="background-color:ghostwhite;font-weight: normal;">
   <h6 style="color:magenta">Sports & Activewear</h6>
   <a>Clothing</a><br>
   <a>Sports Accessories</a><br>
   <a>Sports Equipment</a><br>
   </div>
   <div class="column" style="background-color:white;font-weight: normal;">
   <h6 style="color: magenta">Jewellery</h6>
   <a>Fanshion Jewellery</a><br>
   <a>Fine Jewellery</a><br>
   <a>Earrings</a><br>
   </div>
   </div>
           
   </div>
   </div>&nbsp;&nbsp;&nbsp;
       
   <div class="dropdown">
   <h6 style="color:#1b4553 ;">KIDS</h6>
   <div class="dropdown-content3">
   <div class="row">
   <div class="column" style="background-color:white;font-weight: normal;">
   <h6 style="color:goldenrod">Boys Clothing</h6>
   <a>T-Shirts</a><br>
   <a>Shorts</a><br>
   <a> Jeans</a><br>
   </div>
   <div class="column" style="background-color:ghostwhite;font-weight: normal;">
   <h6 style="color: goldenrod">Girls Clothing</h6>
   <a>Dresses</a><br>
   <a>Tops</a><br>
   <a>Clothing Sets</a><br>
   </div>
   <div class="column" style="background-color:white;font-weight: normal;">
   <h6 style="color: goldenrod">Boys Fottwear</h6>
   <a>Casual Shoes</a><br>
   <a>Sports Shoes</a><br>
   <a>Sandals</a><br>
   </div>
   <div class="column" style="background-color:ghostwhite;font-weight: normal;">
   <h6 style="color: goldenrod">Girls Footwear</h6>
   <a>Flats</a><br>
   <a>Casual shoes</a><br>
   <a>Heels</a><br>
   </div>
   <div class="column" style="background-color:white;font-weight: normal;">
   <h6 style="color: goldenrod">Kids Accessories</h6>
   <a>Bags & Backpacks</a><br>
   <a>Watches</a><br>
   <a>Jewwellery</a><br>
   </div>
   </div>
           
   </div>
   </div>&nbsp;&nbsp;&nbsp;&nbsp;
       
       
   <div class="dropdown">
   <h6 style="color:#1b4553 ;">HOME & LIVING</h6>
   <div class="dropdown-content4">
   <div class="row">
   <div class="column" style="background-color:white;font-weight: normal;">
   <h6 style="color:forestgreen">Bed Linen & Furnishing</h6>
   <a>Bedsheets</a><br>
   <a>Bedding Sets</a><br>
   <a> Pillows & Pillow Cover</a><br>
   </div>
   <div class="column" style="background-color:ghostwhite;font-weight: normal;">
   <h6 style="color: forestgreen">Bath</h6>
   <a>Bath Towels</a><br>
   <a>Hand & Face Towels</a><br>
   <a>Bathroom Accesories</a><br>
   </div>
   <div class="column" style="background-color:white;font-weight: normal;">
   <h6 style="color: forestgreen">Home Decor</h6>
   <a>Plants & Planters</a><br>
   <a>Aromas & Candles</a><br>
   <a>Clocks</a><br>
   </div>
   <div class="column" style="background-color:ghostwhite;font-weight: normal;">
   <h6 style="color: forestgreen">Flooring</h6>
   <a>Carpets</a><br>
   <a>Floor Marts & Dhurries</a><br>
   <a>Door Mats</a><br>
   </div>
   <div class="column" style="background-color:white;font-weight: normal;">
   <h6 style="color: forestgreen">Kitchen & Table</h6>
   <a>Tableware</a><br>
   <a>Bar</a><br>
   <a>Cookware</a><br>
   </div>
   </div>
           
   </div>
   </div>&nbsp;&nbsp;&nbsp;&nbsp;
   <div class="dropdown">
   <h6 style="color:#1b4553 ;"> ESSENTIALS</h6>
   <div class="dropdown-content5">
   <div class="row">
   <div class="column" style="background-color:white;font-weight: normal;">
   <a>Masks</a><br>
   <a>Skincare</a><br>
   <a>Haircare </a><br>
   <a>Bath & Body </a><br>
   <a>Men's Grooming</a><br>
   <a>Baby Care </a><br>
   <a>Hair Styling </a><br>
   <a>At Home Saion </a><br>
 
   </div>
   </div>
   </div>
   </div>
  
  
   <div class="form-group has-search">
     <span class="fa fa-search form-control-feedback"></span>
      <input type="text" class="form-control" placeholder="Search for Products,brands and more">
   </div> 
       
         
   <div class="dropdown2">
   <div class="outer-div" >
   <mat-icon 
       style="color: darkcyan;cursor: pointer;outline: none;">person_outline</mat-icon>
    <span>Profile</span>
   </div>
   <div class="dropdown2-content6">
   <div class="row">
   <div class="column" style="background-color:white;">
   <h6>&nbsp;Welcome<br>
     <span style="font-size: 13px;">&nbsp;&nbsp;To access account and manage order</span></h6>
     <button mat-raised-button  [routerLink]="'/login'" class="logbutton" style="outline: none;">
             LOGIN / SIGNUP</button><hr style="width: 270px;">
             
       <a>Orders</a><br>
       <a>Wishlist</a><br>
       <a>Gift Cards </a><br>
       <a>Contact Us </a><hr style="width: 270px;">
       <a>Mani Credit</a><br>
       <a>Coupans </a><br>
       <a>Saved Addresses </a><br><br>
 
    </div>
    </div>
    </div>
    </div>
       &nbsp;&nbsp;&nbsp;
       <span class="toolbar-spacer"></span>
       <div class="outer-div" [routerLink]="'/wishlist'">
       <mat-icon  
       style="color: darkcyan;cursor: pointer;outline: none;">favorite_border</mat-icon> 
       <span>Wishlist</span>
       </div>&nbsp;&nbsp;&nbsp;
       <div class="outer-div" [routerLink]="'/shoppingbag'">
       <mat-icon   
       style="color: darkcyan;cursor: pointer;outline: none;">shopping_bag</mat-icon>
       <span>Bag</span>
       </div>&nbsp;&nbsp;&nbsp;
       
       
       
 </mat-toolbar-row>
 </mat-toolbar>
  <br><br><br>
           
           <router-outlet></router-outlet>      
             
<br><br>

<a style="padding-left:20px;font-size: 15px;font-weight: 500;padding-top: 30px;">Men&nbsp;T-Shirts</a>&nbsp;
<a style="color: gray;font-weight: normal;">- 100 items</a>

<br><br>
<h5 style="font-weight: normal;padding-left: 20px;float: left;">FILTERS</h5>

<button mat-stroked-button
  (click)="showDiv.previous = !showDiv.previous;showDiv.current = false;showDiv.next = false"
   style=
         "outline: none;border-top: white;
          border-bottom: white;border-left: white;
          border-right: white;
          border-radius: 8px;margin-left: 150px;
          color: gray;font-weight: normal;
          font-size: 14px;"> Size
   <mat-icon style="font-size: 18px;font-weight: normal;padding-top: 2px;">expand_more</mat-icon></button>

<div class="dw">
   <button mat-stroked-button style="width: 250px;font-size:14px;height: 35px;font-weight: normal;outline: none;">
    <a style="margin-left: -25px;">Sort by :</a> &nbsp;
    <a style="font-weight: bold;">Recommended</a>&nbsp;
   <mat-icon style="font-size: 25px;font-weight: normal;color: gray;float: right;">expand_more</mat-icon></button>
 <div class="dw-con">
   <button mat-stroked-button style="width: 250px;height: 40px;border: white;font-weight: normal;outline: none;">
     <a style="float: left;">What's New</a></button><br>
   <button mat-stroked-button style="width: 250px;height: 40px;border: white;font-weight: normal;outline: none;">
    <a style="float: left;">Popularity</a></button><br>
   <button mat-stroked-button style="width: 250px;height: 40px;border: white;font-weight: normal;outline: none;">
    <a style="float: left;">Better Discount</a></button><br>
   <button mat-stroked-button style="width: 250px;height: 40px;border: white;font-weight: normal;outline: none;">
    <a style="float: left;">Price: High to Low</a></button><br>
   <button mat-stroked-button style="width: 250px;height: 40px;border: white;font-weight: normal;outline: none;">
    <a style="float: left;">Price: Low to High</a></button><br>
    </div>
  </div>
  
  
   <div *ngIf="showDiv.previous" style="margin-left: 260px;font-weight: normal;color: gray;font-size: 13px;width: 800px;">
    <mat-checkbox >3xl</mat-checkbox>
    <mat-checkbox style="padding-left: 80px;">4xl</mat-checkbox>
    <mat-checkbox style="padding-left: 80px;">5xl</mat-checkbox>  
    <mat-checkbox style="padding-left: 80px;">6xl</mat-checkbox>
    <mat-checkbox style="padding-left: 80px;">7xl</mat-checkbox>
    <mat-checkbox style="padding-left: 80px;">8xl</mat-checkbox>
    <mat-checkbox style="padding-left: 80px;">9xl</mat-checkbox>
    <br>
    <mat-checkbox >L</mat-checkbox>
    <mat-checkbox style="padding-left: 90px;">M</mat-checkbox>
    <mat-checkbox style="padding-left: 86px;">S</mat-checkbox>
    <mat-checkbox style="padding-left: 89px;">S/M</mat-checkbox>
    <mat-checkbox style="padding-left: 72px;">XL</mat-checkbox>
    <mat-checkbox style="padding-left: 82px;">XL/Xxl</mat-checkbox>
    <mat-checkbox style="padding-left: 58px;">Xs</mat-checkbox>
    <br>
    <mat-checkbox >Xxl</mat-checkbox>
    <mat-checkbox style="padding-left: 79px;">Xxs</mat-checkbox>
 </div>
 
  <br><br>
  

<div style="width: 18%; height: 1000px;background-color: white; float:left;border: 1px solid gainsboro;">
<div class="ct" style="padding: 15px;">
<h6>CATEGORIES</h6>
<mat-checkbox style="font-size: 13px;color: gray;">Tshirts&nbsp;(1200)</mat-checkbox><br>
<mat-checkbox style="font-size: 13px;color: gray;">Lounge Tshirts&nbsp;(400)</mat-checkbox><br>
<mat-checkbox style="font-size: 13px;color: gray;">Tshirts Smart&nbsp;(10)</mat-checkbox>
</div>
<hr>
<div class="ct" style="padding: 15px;">
  <h6>BRAND</h6>
  <mat-checkbox style="font-size: 13px;color: gray;">Roadster&nbsp;(2500)</mat-checkbox><br>
  <mat-checkbox style="font-size: 13px;color: gray;">Puma&nbsp;(400)</mat-checkbox><br>
  <mat-checkbox style="font-size: 13px;color: gray;">Tommy Hilifiger&nbsp;(10)</mat-checkbox><br>
  <mat-checkbox style="font-size: 13px;color: gray;">Jack & jones&nbsp;(400)</mat-checkbox><br>
  <mat-checkbox style="font-size: 13px;color: gray;">Free Authority&nbsp;(400)</mat-checkbox><br>
  <mat-checkbox style="font-size: 13px;color: gray;">Mast & Harbour&nbsp;(400)</mat-checkbox><br>
  <mat-checkbox style="font-size: 13px;color: gray;">WROGN&nbsp;(400)</mat-checkbox><br>
</div>
<hr>
<div class="ct" style="padding: 15px;">
  <h6>PRICE</h6>
  <mat-checkbox style="font-size: 13px;color: gray;">Rs. 124 to Rs. 4841 &nbsp;(5700)</mat-checkbox><br>
  <mat-checkbox style="font-size: 13px;color: gray;">Rs. 4841 to Rs. 9558 &nbsp;(170)</mat-checkbox><br>
  <mat-checkbox style="font-size: 13px;color: gray;">Rs. 9558 to Rs. 14275 &nbsp;(27)</mat-checkbox><br>
  <mat-checkbox style="font-size: 13px;color: gray;">Rs. 14275 to Rs. 18992 &nbsp;(1)</mat-checkbox><br>
</div>
<hr>
<div class="ct" style="padding: 15px;">
  <h6>DISCOUNT RANGE</h6>
  <mat-radio-group aria-label="Select an option"style="font-size: 13px;color:gray;">
    <mat-radio-button value="1">10% and above</mat-radio-button><br>
    <mat-radio-button value="2">20% and above</mat-radio-button><br>
    <mat-radio-button value="3">30% and above</mat-radio-button><br>
    <mat-radio-button value="4">40% and above</mat-radio-button><br>
    <mat-radio-button value="5">50% and above</mat-radio-button><br>
    <mat-radio-button value="6">60% and above</mat-radio-button><br>
    <mat-radio-button value="7">70% and above</mat-radio-button><br>
  </mat-radio-group>
   
 
</div>

</div>
<div style="width: 82%; height: 1000px;background-color:white;float:right;border: 1px solid gainsboro;border-left-color: white;">

<div class="cc" style="padding: 20px;display:flex; flex-direction: row;">
 <mat-card class="card1" [routerLink]="'/tshirts-roadster'">
 <img mat-card-image src="../../assets/t1.jpg" style="height: 260px;">
 <mat-card-content>
 <a style="font-weight:600;">Roadster<br>
 <a style="font-weight: normal;font-size: 12px;">Striped Round Neck Navy Blue</a> <br>
        Rs. 699
 </a>
 </mat-card-content>
  </mat-card>
 <mat-card class="card1" style="margin-left: 40px;">
  <img mat-card-image src="../../assets/t2.jpg" style="height: 260px;">
  <mat-card-content>
  <a style="font-weight:600;">HRX by Hrithik Roshan<br>
  <a style="font-weight: normal;font-size: 12px;">Printed Round Neck T-shirt</a> <br>
        Rs. 699
  </a>
  </mat-card-content>
  </mat-card>
 <mat-card class="card1" style="margin-left: 40px;">
  <img mat-card-image src="../../assets/t3.jpg" style="height: 260px;">
  <mat-card-content>
  <a style="font-weight:600;">Moda Rapido<br>
  <a style="font-weight: normal;font-size: 12px;">Printed Round Neck T-shirt</a> <br>
        Rs. 649
  </a>
  </mat-card-content>
  </mat-card>
 <mat-card class="card1" style="margin-left: 40px;">
  <img mat-card-image src="../../assets/t4.jpg" style="height: 260px;">
  <mat-card-content>
  <a style="font-weight:600;">H&M<br>
  <a style="font-weight: normal;font-size: 12px;">Cotton T-shirt Regular Fit</a> <br>
        Rs. 399
  </a>
  </mat-card-content>
  </mat-card>
</div>
<br>
<div class="cc" style="padding: 20px;display:flex; flex-direction: row;">
  <mat-card class="card1">
  <img mat-card-image src="../../assets/t5.jpg" style="height: 260px;">
  <mat-card-content>
  <a style="font-weight:600;">ether<br>
  <a style="font-weight: normal;font-size: 12px;">Printed Round Neck T-shirt</a> <br>
        Rs. 479
  </a>
  </mat-card-content>
  </mat-card>
 
  <mat-card class="card1" style="margin-left: 40px;">
  <img mat-card-image src="../../assets/t6.jpg" style="height: 260px;">
  <mat-card-content>
  <a style="font-weight:600;">Roadster<br>
  <a style="font-weight: normal;font-size: 12px;">Printed Round Neck T-shirt</a> <br>
        Rs. 599
  </a>
  </mat-card-content>
  </mat-card>
 
  <mat-card class="card1" style="margin-left: 40px;">
  <img mat-card-image src="../../assets/t7.jpg" style="height: 260px;">
  <mat-card-content>
  <a style="font-weight:600;">FIDO DIDO<br>
  <a style="font-weight: normal;font-size: 12px;">Solid Polo Collar T-shirt</a> <br>
        Rs. 637
  </a>
  </mat-card-content>
  </mat-card>
  
  <mat-card class="card1" style="margin-left: 40px;">
  <img mat-card-image src="../../assets/t8.jpg" style="height: 260px;">
  <mat-card-content>
  <a style="font-weight:600;">HERE&NOW<br>
  <a style="font-weight: normal;font-size: 12px;">Printed Round Neck T-shirt</a> <br>
        Rs. 479
  </a>
  </mat-card-content>
  </mat-card>
</div>

</div>



<br><br><br><br><br><br><br><br>
