<mat-toolbar class="toolbar" fxHide.gt-xs>
    <mat-toolbar-row>
   <div [routerLink]="''" style="outline: none;">
     <a style="color: goldenrod; font-size: 22px;margin-left: 15px;cursor: pointer;">M</a>
     <a style="color: maroon; font-size: 22px;cursor: pointer;">a</a>
     <a style="color: green; font-size: 22px;cursor: pointer;">n</a>
     <a style="color: navy; font-size: 22px;cursor: pointer;">!</a>
     </div>
     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
   
     <div class="dropdown">
     <h6 style="color:#1b4553 ;">MEN</h6>
     <div class="dropdown-content">
     <div class="row">
     <div class="column" style="background-color:white;font-weight: normal;">
     <h6 style="color:lightseagreen">Toppwear</h6>
     <a [routerLink]="'/men-tshirts'" style="text-decoration: none;color: black;">T-Shirts</a><br>
     <a>Casual Shirts</a><br>
     <a>Formal Shirts </a><br>
     <a>Sweatshirts</a><br>
     <a>Sweaters</a><br>
     <a>Jackets</a>
     </div>
               
     <div class="column" style="background-color:ghostwhite;font-weight: normal;">
     <h6 style="color: lightseagreen">Bottomwear</h6>
     <a>Jeans</a><br>
     <a>Casual Trousers</a><br>
     <a>Formal Trousers</a><br>
     </div>
     <div class="column" style="background-color:white;font-weight: normal;">
     <h6 style="color: lightseagreen">Fottwear</h6>
     <a>Casual Shoes</a><br>
     <a>Sports Shoes</a><br>
     <a>Formal Shoes</a><br>
     </div>
     <div class="column" style="background-color:ghostwhite;font-weight: normal;">
     <h6 style="color: lightseagreen">Sports & Activewear</h6>
     <a>Sports Shoes</a><br>
     <a>Sports Sandals</a><br>
     <a>Jackets & Sweatshirts</a><br>
     </div>
     <div class="column" style="background-color:white;font-weight: normal;">
     <h6 style="color: lightseagreen">Innerwear & Sleepwear</h6>
     <a>Briefs & Trunks</a><br>
     <a>Boxers</a><br>
     <a>Vests</a><br>
     </div>
     </div>
             
     </div>
     </div>&nbsp;&nbsp;&nbsp;&nbsp;
         
     <div class="dropdown">
     <h6 style="color:#1b4553 ;">WOMEN</h6>
     <div class="dropdown-content2">
     <div class="row">
     <div class="column" style="background-color:white;font-weight: normal;">
     <h6 style="color:magenta">India & Fusion Wear</h6>
     <a>Kurtas & Suits</a><br>
     <a>Kurtas,Tunics & Tops</a><br>
     <a>Ethnic Dresses </a><br>
     </div>
     <div class="column" style="background-color:ghostwhite;font-weight: normal;">
     <h6 style="color:magenta ">Western Wear</h6>
     <a>Dresses & Jumpsits</a><br>
     <a>Top,T-Shirts & Shirts</a><br>
     <a>Jeans & Jeggings</a><br>
     </div>
     <div class="column" style="background-color:white;font-weight: normal;">
     <h6 style="color:magenta">Fottwear</h6>
     <a>Flats</a><br>
     <a>Casual Shoes</a><br>
     <a>Heels</a><br>
     </div>
     <div class="column" style="background-color:ghostwhite;font-weight: normal;">
     <h6 style="color:magenta">Sports & Activewear</h6>
     <a>Clothing</a><br>
     <a>Sports Accessories</a><br>
     <a>Sports Equipment</a><br>
     </div>
     <div class="column" style="background-color:white;font-weight: normal;">
     <h6 style="color: magenta">Jewellery</h6>
     <a>Fanshion Jewellery</a><br>
     <a>Fine Jewellery</a><br>
     <a>Earrings</a><br>
     </div>
     </div>
             
     </div>
     </div>&nbsp;&nbsp;&nbsp;
         
     <div class="dropdown">
     <h6 style="color:#1b4553 ;">KIDS</h6>
     <div class="dropdown-content3">
     <div class="row">
     <div class="column" style="background-color:white;font-weight: normal;">
     <h6 style="color:goldenrod">Boys Clothing</h6>
     <a>T-Shirts</a><br>
     <a>Shorts</a><br>
     <a> Jeans</a><br>
     </div>
     <div class="column" style="background-color:ghostwhite;font-weight: normal;">
     <h6 style="color: goldenrod">Girls Clothing</h6>
     <a>Dresses</a><br>
     <a>Tops</a><br>
     <a>Clothing Sets</a><br>
     </div>
     <div class="column" style="background-color:white;font-weight: normal;">
     <h6 style="color: goldenrod">Boys Fottwear</h6>
     <a>Casual Shoes</a><br>
     <a>Sports Shoes</a><br>
     <a>Sandals</a><br>
     </div>
     <div class="column" style="background-color:ghostwhite;font-weight: normal;">
     <h6 style="color: goldenrod">Girls Footwear</h6>
     <a>Flats</a><br>
     <a>Casual shoes</a><br>
     <a>Heels</a><br>
     </div>
     <div class="column" style="background-color:white;font-weight: normal;">
     <h6 style="color: goldenrod">Kids Accessories</h6>
     <a>Bags & Backpacks</a><br>
     <a>Watches</a><br>
     <a>Jewwellery</a><br>
     </div>
     </div>
             
     </div>
     </div>&nbsp;&nbsp;&nbsp;&nbsp;
         
         
     <div class="dropdown">
     <h6 style="color:#1b4553 ;">HOME & LIVING</h6>
     <div class="dropdown-content4">
     <div class="row">
     <div class="column" style="background-color:white;font-weight: normal;">
     <h6 style="color:forestgreen">Bed Linen & Furnishing</h6>
     <a>Bedsheets</a><br>
     <a>Bedding Sets</a><br>
     <a> Pillows & Pillow Cover</a><br>
     </div>
     <div class="column" style="background-color:ghostwhite;font-weight: normal;">
     <h6 style="color: forestgreen">Bath</h6>
     <a>Bath Towels</a><br>
     <a>Hand & Face Towels</a><br>
     <a>Bathroom Accesories</a><br>
     </div>
     <div class="column" style="background-color:white;font-weight: normal;">
     <h6 style="color: forestgreen">Home Decor</h6>
     <a>Plants & Planters</a><br>
     <a>Aromas & Candles</a><br>
     <a>Clocks</a><br>
     </div>
     <div class="column" style="background-color:ghostwhite;font-weight: normal;">
     <h6 style="color: forestgreen">Flooring</h6>
     <a>Carpets</a><br>
     <a>Floor Marts & Dhurries</a><br>
     <a>Door Mats</a><br>
     </div>
     <div class="column" style="background-color:white;font-weight: normal;">
     <h6 style="color: forestgreen">Kitchen & Table</h6>
     <a>Tableware</a><br>
     <a>Bar</a><br>
     <a>Cookware</a><br>
     </div>
     </div>
             
     </div>
     </div>&nbsp;&nbsp;&nbsp;&nbsp;
     <div class="dropdown">
     <h6 style="color:#1b4553 ;"> ESSENTIALS</h6>
     <div class="dropdown-content5">
     <div class="row">
     <div class="column" style="background-color:white;font-weight: normal;">
     <a>Masks</a><br>
     <a>Skincare</a><br>
     <a>Haircare </a><br>
     <a>Bath & Body </a><br>
     <a>Men's Grooming</a><br>
     <a>Baby Care </a><br>
     <a>Hair Styling </a><br>
     <a>At Home Saion </a><br>
   
     </div>
     </div>
     </div>
     </div>
    
    
     <div class="form-group has-search">
       <span class="fa fa-search form-control-feedback"></span>
        <input type="text" class="form-control" placeholder="Search for Products,brands and more">
     </div> 
         
           
     
         <span class="toolbar-spacer"></span>
         <div class="outer-div" [routerLink]="'/wishlist'">
         <mat-icon  
         style="color: darkcyan;cursor: pointer;outline: none;">favorite_border</mat-icon> 
         <span>Wishlist</span>
         </div>&nbsp;&nbsp;&nbsp;
         <div class="outer-div" [routerLink]="'/shoppingbag'">
         <mat-icon   
         style="color: darkcyan;cursor: pointer;outline: none;">shopping_bag</mat-icon>
         <span>Bag</span>
         </div>&nbsp;&nbsp;&nbsp;
         
         
         
   </mat-toolbar-row>
   </mat-toolbar>
    <br><br><br>
             
             <router-outlet></router-outlet> 
                  
<div style="left: 0;right: 0;background-color: aliceblue;height: 90%;"> <br><br>   
 <mat-card style="width: 405px;height: 380px;margin-left: 500px;">
 <div ><br>
    <span style="font-size: 20px;padding-left: 20px;">𝐋𝐨𝐠𝐢𝐧 𝚘𝚛 𝗦𝗶𝗴𝗻𝘂𝗽</span>
     <br><br>
     
 <form class="myform" [formGroup]="emailForm">
     <mat-form-field appearance="outline" style="width: 350px;padding-left: 20px;">
     <mat-label>Mobile Number</mat-label>
    <a matPrefix style="color: gray;">+91 &nbsp;|&nbsp;&nbsp;</a>
     <input matInput  formControlName="PhoneNumber" 
         [errorStateMatcher]="matcher" [required]="123456789" maxlength="10">
    <mat-error *ngIf="emailForm.get('PhoneNumber').hasError('required')">
          MobileNumber  is <strong>required</strong>
    </mat-error>
     <mat-error *ngIf="!emailForm.get('PhoneNumber').hasError('required') &&emailForm.get('PhoneNumber').hasError('pattern')">
      Please enter a valid mobile mumber
      </mat-error>
     </mat-form-field>
              
              
<mat-form-field appearance="outline" style="width: 350px;padding-left: 20px;">
     <mat-label>Enter your password</mat-label>
    <input matInput [type]="hide ? 'password' : 'text'" formControlName="Password" placeholder="m@N!$#%1"
    [errorStateMatcher]="matcher" [required]="name=='mani'" maxlength="8">
     <mat-error *ngIf="emailForm.get('Password').hasError('required')">
         Passowrd is <strong>required</strong>
         </mat-error>
     <mat-error *ngIf="!emailForm.get('Password').hasError('required') &&emailForm.get('Password').hasError('pattern')">
      Please enter a Strong Password
         </mat-error>
     <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide" 
         style="outline: none;">
     <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
         </button>
     </mat-form-field>
     
                
                
  <button mat-raised-button (click)="fun1()" 
     style="height:40px;background-color: goldenrod;
     margin-left: 22px;width: 325px;margin-right:30px;border-radius: 3px;
     color: white;outline: none;" >
     CONTINUE</button></form>  
    <br><br><br>
     </div> 
    </mat-card>           
    </div>
    