<mat-toolbar class="toolbar" fxHide.gt-xs>
 <mat-toolbar-row>
<div [routerLink]="''" style="outline: none;">
  <a style="color: goldenrod; font-size: 22px;margin-left: 15px;cursor: pointer;">M</a>
  <a style="color: maroon; font-size: 22px;cursor: pointer;">a</a>
  <a style="color: green; font-size: 22px;cursor: pointer;">n</a>
  <a style="color: navy; font-size: 22px;cursor: pointer;">!</a>
  </div>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

  <div class="dropdown">
  <h6 style="color:#1b4553 ;">MEN</h6>
  <div class="dropdown-content">
  <div class="row">
  <div class="column" style="background-color:white;font-weight: normal;">
  <h6 style="color:lightseagreen">Toppwear</h6>
  <a [routerLink]="'men-tshirts'" style="text-decoration: none;color: black;">T-Shirts</a><br>
  <a>Casual Shirts</a><br>
  <a>Formal Shirts </a><br>
  <a>Sweatshirts</a><br>
  <a>Sweaters</a><br>
  <a>Jackets</a>
  </div>
            
  <div class="column" style="background-color:ghostwhite;font-weight: normal;">
  <h6 style="color: lightseagreen">Bottomwear</h6>
  <a>Jeans</a><br>
  <a>Casual Trousers</a><br>
  <a>Formal Trousers</a><br>
  </div>
  <div class="column" style="background-color:white;font-weight: normal;">
  <h6 style="color: lightseagreen">Fottwear</h6>
  <a>Casual Shoes</a><br>
  <a>Sports Shoes</a><br>
  <a>Formal Shoes</a><br>
  </div>
  <div class="column" style="background-color:ghostwhite;font-weight: normal;">
  <h6 style="color: lightseagreen">Sports & Activewear</h6>
  <a>Sports Shoes</a><br>
  <a>Sports Sandals</a><br>
  <a>Jackets & Sweatshirts</a><br>
  </div>
  <div class="column" style="background-color:white;font-weight: normal;">
  <h6 style="color: lightseagreen">Innerwear & Sleepwear</h6>
  <a>Briefs & Trunks</a><br>
  <a>Boxers</a><br>
  <a>Vests</a><br>
  </div>
  </div>
          
  </div>
  </div>&nbsp;&nbsp;&nbsp;&nbsp;
      
  <div class="dropdown">
  <h6 style="color:#1b4553 ;">WOMEN</h6>
  <div class="dropdown-content2">
  <div class="row">
  <div class="column" style="background-color:white;font-weight: normal;">
  <h6 style="color:magenta">India & Fusion Wear</h6>
  <a>Kurtas & Suits</a><br>
  <a>Kurtas,Tunics & Tops</a><br>
  <a>Ethnic Dresses </a><br>
  </div>
  <div class="column" style="background-color:ghostwhite;font-weight: normal;">
  <h6 style="color:magenta ">Western Wear</h6>
  <a>Dresses & Jumpsits</a><br>
  <a>Top,T-Shirts & Shirts</a><br>
  <a>Jeans & Jeggings</a><br>
  </div>
  <div class="column" style="background-color:white;font-weight: normal;">
  <h6 style="color:magenta">Fottwear</h6>
  <a>Flats</a><br>
  <a>Casual Shoes</a><br>
  <a>Heels</a><br>
  </div>
  <div class="column" style="background-color:ghostwhite;font-weight: normal;">
  <h6 style="color:magenta">Sports & Activewear</h6>
  <a>Clothing</a><br>
  <a>Sports Accessories</a><br>
  <a>Sports Equipment</a><br>
  </div>
  <div class="column" style="background-color:white;font-weight: normal;">
  <h6 style="color: magenta">Jewellery</h6>
  <a>Fanshion Jewellery</a><br>
  <a>Fine Jewellery</a><br>
  <a>Earrings</a><br>
  </div>
  </div>
          
  </div>
  </div>&nbsp;&nbsp;&nbsp;
      
  <div class="dropdown">
  <h6 style="color:#1b4553 ;">KIDS</h6>
  <div class="dropdown-content3">
  <div class="row">
  <div class="column" style="background-color:white;font-weight: normal;">
  <h6 style="color:goldenrod">Boys Clothing</h6>
  <a>T-Shirts</a><br>
  <a>Shorts</a><br>
  <a> Jeans</a><br>
  </div>
  <div class="column" style="background-color:ghostwhite;font-weight: normal;">
  <h6 style="color: goldenrod">Girls Clothing</h6>
  <a>Dresses</a><br>
  <a>Tops</a><br>
  <a>Clothing Sets</a><br>
  </div>
  <div class="column" style="background-color:white;font-weight: normal;">
  <h6 style="color: goldenrod">Boys Fottwear</h6>
  <a>Casual Shoes</a><br>
  <a>Sports Shoes</a><br>
  <a>Sandals</a><br>
  </div>
  <div class="column" style="background-color:ghostwhite;font-weight: normal;">
  <h6 style="color: goldenrod">Girls Footwear</h6>
  <a>Flats</a><br>
  <a>Casual shoes</a><br>
  <a>Heels</a><br>
  </div>
  <div class="column" style="background-color:white;font-weight: normal;">
  <h6 style="color: goldenrod">Kids Accessories</h6>
  <a>Bags & Backpacks</a><br>
  <a>Watches</a><br>
  <a>Jewwellery</a><br>
  </div>
  </div>
          
  </div>
  </div>&nbsp;&nbsp;&nbsp;&nbsp;
      
      
  <div class="dropdown">
  <h6 style="color:#1b4553 ;">HOME & LIVING</h6>
  <div class="dropdown-content4">
  <div class="row">
  <div class="column" style="background-color:white;font-weight: normal;">
  <h6 style="color:forestgreen">Bed Linen & Furnishing</h6>
  <a>Bedsheets</a><br>
  <a>Bedding Sets</a><br>
  <a> Pillows & Pillow Cover</a><br>
  </div>
  <div class="column" style="background-color:ghostwhite;font-weight: normal;">
  <h6 style="color: forestgreen">Bath</h6>
  <a>Bath Towels</a><br>
  <a>Hand & Face Towels</a><br>
  <a>Bathroom Accesories</a><br>
  </div>
  <div class="column" style="background-color:white;font-weight: normal;">
  <h6 style="color: forestgreen">Home Decor</h6>
  <a>Plants & Planters</a><br>
  <a>Aromas & Candles</a><br>
  <a>Clocks</a><br>
  </div>
  <div class="column" style="background-color:ghostwhite;font-weight: normal;">
  <h6 style="color: forestgreen">Flooring</h6>
  <a>Carpets</a><br>
  <a>Floor Marts & Dhurries</a><br>
  <a>Door Mats</a><br>
  </div>
  <div class="column" style="background-color:white;font-weight: normal;">
  <h6 style="color: forestgreen">Kitchen & Table</h6>
  <a>Tableware</a><br>
  <a>Bar</a><br>
  <a>Cookware</a><br>
  </div>
  </div>
          
  </div>
  </div>&nbsp;&nbsp;&nbsp;&nbsp;
  <div class="dropdown">
  <h6 style="color:#1b4553 ;"> ESSENTIALS</h6>
  <div class="dropdown-content5">
  <div class="row">
  <div class="column" style="background-color:white;font-weight: normal;">
  <a>Masks</a><br>
  <a>Skincare</a><br>
  <a>Haircare </a><br>
  <a>Bath & Body </a><br>
  <a>Men's Grooming</a><br>
  <a>Baby Care </a><br>
  <a>Hair Styling </a><br>
  <a>At Home Saion </a><br>

  </div>
  </div>
  </div>
  </div>
 
 
  <div class="form-group has-search">
    <span class="fa fa-search form-control-feedback"></span>
     <input type="text" class="form-control" placeholder="Search for Products,brands and more">
  </div> 
      
        
  <div class="dropdown2">
  <div class="outer-div" >
  <mat-icon 
      style="color: darkcyan;cursor: pointer;outline: none;">person_outline</mat-icon>
   <span>Profile</span>
  </div>
  <div class="dropdown2-content6">
  <div class="row">
  <div class="column" style="background-color:white;">
  <h6>&nbsp;Welcome<br>
    <span style="font-size: 13px;">&nbsp;&nbsp;To access account and manage order</span></h6>
    <button mat-raised-button [routerLink]="'/login'" class="logbutton" style="outline: none;">
            LOGIN / SIGNUP</button><hr style="width: 270px;">
            
      <a>Orders</a><br>
      <a>Wishlist</a><br>
      <a>Gift Cards </a><br>
      <a>Contact Us </a><hr style="width: 270px;">
      <a>Mani Credit</a><br>
      <a>Coupans </a><br>
      <a>Saved Addresses </a><br><br>

   </div>
   </div>
   </div>
   </div>
      &nbsp;&nbsp;&nbsp;
      <span class="toolbar-spacer"></span>
      <div class="outer-div" [routerLink]="'/wishlist'">
      <mat-icon  
      style="color: darkcyan;cursor: pointer;outline: none;">favorite_border</mat-icon> 
      <span>Wishlist</span>
      </div>&nbsp;&nbsp;&nbsp;
      <div class="outer-div" [routerLink]="'/shoppingbag'">
      <mat-icon   
      style="color: darkcyan;cursor: pointer;outline: none;">shopping_bag</mat-icon>
      <span>Bag</span>
      </div>&nbsp;&nbsp;&nbsp;
      
      
      
</mat-toolbar-row>
</mat-toolbar>
 <br><br><br>
          
          <router-outlet></router-outlet>      
          
    <div class="main-content">
    
      
    </div>
<div class="slide">
    
  <ngb-carousel style="cursor: pointer;outline: none;" >
  <ng-template ngbSlide>
  <div class="men">
    <img src="../../assets/f6.jpg" alt="Random first slide" style="width: 100%;height: 400px;">
  </div>
  <div class="carousel-caption" style="text-shadow: 2px 2px 4px #000000;margin-left: -800px;font-family: cursive;">
    <h3 style="font-family: cursive;">Men</h3>
      <p>Topwear, &nbsp;Bottomwear,&nbsp;Footwear,&nbsp;Innerwear,&nbsp;Sports & Active Wear</p>
  </div>
  </ng-template>
  <ng-template ngbSlide>
  <div class="women">
    <img src="../../assets/w2.jpg" alt="Random second slide"  style="width: 100%;height: 400px;">
  </div>
  <div class="carousel-caption" style="margin-left: 560px;font-family: cursive;color: black">
      <h3 style="font-family: cursive;">Women</h3>
      <p>Indian & Fusion wear,&nbsp;Western wear,&nbsp;Footwear,&nbsp;Jewellery</p>
  </div>
  </ng-template>
  <ng-template ngbSlide>
  <div class="kids">
      <img src="../../assets/k2.jpg" alt="Random second slide"  style="width: 100%;height: 400px;">
  </div>
  <div class="carousel-caption" style="font-family: cursive;color: white;text-shadow: 2px 2px 4px #000000;">
    <h3 style="font-family: cursive;">Kids</h3>
     <p>Boys Clothing,&nbsp;Girls Clothing,&nbsp;Boys Footwear,&nbsp;Girls Footwear</p>
  </div>
  </ng-template>
  <ng-template ngbSlide>
  <div class="shoes">
      <img src="../../assets/f4.jpg" alt="Random third slide"  style="width: 100%;height: 400px;">
  </div>
  <div class="carousel-caption" style="margin-left: -1000px;font-family: cursive;color: #1b4553;">
      <h3 style="font-family: cursive;">Shoes</h3>
      <p>Casual Shoes,&nbsp;Sports Shoes,&nbsp;Flats,&nbsp;Hells</p>
  </div>
  </ng-template>
  </ngb-carousel>
    <br>
  <ngb-carousel style="cursor: pointer;outline: none;" >
  <ng-template ngbSlide >
  <div class="offer">
    <img src="../../assets/of1 (6).jpg" alt="Random first slide" style="width: 100%;height: 250px;">
  </div>
  </ng-template>
    <ng-template ngbSlide >
    <div class="offer">
      <img src="../../assets/of1 (3).jpg" alt="Random first slide" style="width: 100%;height: 250px;">
    </div>
    </ng-template>
    <ng-template ngbSlide >
    <div class="offer">
      <img src="../../assets/oo.jpg" alt="Random first slide" style="width: 100%;height: 250px;">
    </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
      <img src="../../assets/of1 (1).jpg" alt="Random first slide" style="width: 100%;height: 250px;">
    </div>
    </ng-template>
 </ngb-carousel>
</div>
<br><br><br>

<h3>C A T E G O R I E S &nbsp;&nbsp;T O&nbsp;&nbsp;  B A G</h3><br><br>
<div class="cd" style="display:flex; flex-direction: row;">
<mat-card class="card1">
  <img mat-card-image src="../../assets/c1.jpg" style="border-radius: 120px;">
  <mat-card-content>
    <h5 style="text-align:center ;font-family: Sofia;">Kutas & Kurta Sets</h5>
  </mat-card-content>
  </mat-card>

<mat-card class="card2">
  <img mat-card-image src="../../assets/c2.jpg" style="border-radius: 120px;">
  <mat-card-content>
    <h5 style="text-align:center ;font-family: Sofia;">Sarees</h5>
  </mat-card-content>
</mat-card>
<mat-card class="card3">
  <img mat-card-image src="../../assets/c3.jpeg" style="border-radius: 120px;">
  <mat-card-content>
    <h5 style="text-align:center ;font-family: Sofia;">Drees</h5>
  </mat-card-content>
</mat-card>
<mat-card class="card4">
  <img mat-card-image src="../../assets/c4.jpg" style="border-radius: 120px;">
  <mat-card-content>
    <h5 style="text-align:center ;font-family: Sofia;">Flats & Heels</h5>
  </mat-card-content>
</mat-card>
<mat-card class="card5">
  <img mat-card-image src="../../assets/c5.jpg" style="border-radius: 120px;">
  <mat-card-content>
    <h5 style="text-align:center ;font-family: Sofia;">Handbags</h5>
  </mat-card-content>
</mat-card>

</div>
<div class="cd" style="display:flex; flex-direction: row;">
<mat-card class="card1">
  <img mat-card-image src="../../assets/c6.jpg" style="border-radius: 120px;">
  <mat-card-content>
    <h5 style="text-align:center ;font-family: Sofia;">Shirts</h5>
  </mat-card-content>
</mat-card>
<mat-card class="card3">
  <img mat-card-image src="../../assets/c7.jpg" style="border-radius: 120px;">
  <mat-card-content>
    <h5 style="text-align:center ;font-family: Sofia;">T-Shirts</h5>
  </mat-card-content>
</mat-card>
<mat-card class="card4">
  <img mat-card-image src="../../assets/c8.jpg" style="border-radius: 120px;">
  <mat-card-content>
    <h5 style="text-align:center ;font-family: Sofia;">Jeans</h5>
  </mat-card-content>
</mat-card>
<mat-card class="card4">
  <img mat-card-image src="../../assets/c9.jpg" style="border-radius: 120px;">
  <mat-card-content>
    <h5 style="text-align:center ;font-family: Sofia;">Shorts & Trousers</h5>
  </mat-card-content>
</mat-card>
<mat-card class="card4">
  <img mat-card-image src="../../assets/d1.jpg" style="border-radius: 120px;">
  <mat-card-content>
    <h5 style="text-align:center ;font-family: Sofia;">Casual Shoes</h5>
  </mat-card-content>
</mat-card>

</div>

<div class="cd" style="display:flex; flex-direction: row;">
  <mat-card class="card1">
    <img mat-card-image src="../../assets/d2.jpg" style="border-radius: 120px;">
    <mat-card-content>
      <h5 style="text-align:center ;font-family: Sofia;">Dresses</h5>
    </mat-card-content>
  </mat-card>
  <mat-card class="card3">
    <img mat-card-image src="../../assets/d3.jpg" style="border-radius: 120px;">
    <mat-card-content>
      <h5 style="text-align:center ;font-family: Sofia;">Shorts</h5>
    </mat-card-content>
  </mat-card>
  <mat-card class="card4">
    <img mat-card-image src="../../assets/d4.jpg" style="border-radius: 120px;">
    <mat-card-content>
      <h5 style="text-align:center ;font-family: Sofia;">T-Shirts & Tops</h5>
    </mat-card-content>
  </mat-card>
  <mat-card class="card4">
    <img mat-card-image src="../../assets/d5.jpg" style="border-radius: 120px;">
    <mat-card-content>
      <h5 style="text-align:center ;font-family: Sofia;">Infant Essentials</h5>
    </mat-card-content>
  </mat-card>
  <mat-card class="card4">
    <img mat-card-image src="../../assets/d6.jpg" style="border-radius: 120px;">
    <mat-card-content>
      <h5 style="text-align:center ;font-family: Sofia;">Footwear</h5>
    </mat-card-content>
  </mat-card>
  
  </div>
  <div class="cd" style="display:flex; flex-direction: row;">
    <mat-card class="card1">
      <img mat-card-image src="../../assets/d7.jpg" style="border-radius: 120px;">
      <mat-card-content>
        <h5 style="text-align:center ;font-family: Sofia;">Home Furnishing</h5>
      </mat-card-content>
    </mat-card>
    <mat-card class="card3">
      <img mat-card-image src="../../assets/d8.jpg" style="border-radius: 120px;">
      <mat-card-content>
        <h5 style="text-align:center ;font-family: Sofia;">Watches</h5>
      </mat-card-content>
    </mat-card>
    <mat-card class="card4">
      <img mat-card-image src="../../assets/d9.jpg" style="border-radius: 120px;">
      <mat-card-content>
        <h5 style="text-align:center ;font-family: Sofia;">Headphones</h5>
      </mat-card-content>
    </mat-card>
    <mat-card class="card4">
      <img mat-card-image src="../../assets/e1.jpg" style="border-radius: 120px;">
      <mat-card-content>
        <h5 style="text-align:center ;font-family: Sofia;">Masks</h5>
      </mat-card-content>
    </mat-card>
    <mat-card class="card4">
      <img mat-card-image src="../../assets/e2.jpg" style="border-radius: 120px;">
      <mat-card-content>
        <h5 style="text-align:center ; font-family: Sofia;">Innerwear</h5>
      </mat-card-content>
    </mat-card>
    
    </div>
      
<br><br>

<br><br><br><br><br><br><br><br><br><br>


<div class="bottombar" >
  
  <a style="font-size: 14px;font-weight: 500;margin-left: 100px;">ONLINE SHOPPING</a>
  <a style="font-size: 14px;font-weight: 500;margin-left: 100px;">USEFUL LINKS</a>
  <a style="font-size: 14px;font-weight: 500;margin-left: 100px;">KEEP IN TOUCH</a>
  <a style="font-size: 14px;font-weight: 500;margin-left: 100px;">POPULAR SEARCHES</a>
  
  <br>
  <a style="font-size: 13px;font-weight: normal;margin-left: 100px;cursor: pointer;color: gray;">Men</a>
  <a style="font-size: 13px;font-weight: normal;margin-left: 198px;cursor: pointer;color: gray;">Contact Us</a>
  <i class="fa fa-facebook-official" style="font-size: 25px;color: gray;margin-left: 130px;cursor: pointer;"></i>&nbsp;&nbsp;
  <i class="fa fa-twitter" style="font-size: 25px;color: gray;cursor: pointer;"></i>&nbsp;&nbsp;
  <i class="fa fa-youtube-play" style="font-size: 25px;color: gray;cursor: pointer;"></i>&nbsp;&nbsp;
  <i class="fa fa-instagram" style="font-size: 25px;color: gray;cursor: pointer;"></i>
  <a style="font-size: 13px;font-weight: normal;margin-left: 75px;cursor: pointer;color: gray;">
  Makeup | Dresses For Girls | T-Shirts | Sandals | Headphones | Babydolls | Blazers For Men |
  </a>
  
 <br>
  <a style="font-size: 13px;font-weight: normal;margin-left: 100px;cursor: pointer;color: gray;">Women</a>
  <a style="font-size: 13px;font-weight: normal;margin-left: 180px;cursor: pointer;color: gray;">FAQ</a>
  <a style="font-size: 13px;font-weight: normal;margin-left: 367px;cursor: pointer;color: gray;">
    Handbags | Ladies Watches | Bags | Sport Shoes | Reebook Shoes | Shoes | Boxers | Wallets |
    </a>
  <br>
  <a style="font-size: 13px;font-weight: normal;margin-left: 100px;cursor: pointer;color: gray;">Kids</a>
  <a style="font-size: 13px;font-weight: normal;margin-left: 199px;cursor: pointer;color: gray;">T&C</a>
  <a style="font-size: 13px;font-weight: normal;margin-left: 367px;cursor: pointer;color: gray;">
    Tops | Earrings | Fastrack Watches | Kurtis | Nike | Smart Watches | Titan Watches | Gowns.
    </a>
  <br>
  <a style="font-size: 13px;font-weight: normal;margin-left: 100px;cursor: pointer;color: gray;">Home & Living</a>
  <a style="font-size: 13px;font-weight: normal;margin-left: 140px;cursor: pointer;color: gray;">Trems Of Use</a>
  <br>
  <a style="font-size: 13px;font-weight: normal;margin-left: 100px;cursor: pointer;color: gray;">Essentials</a>
  <a style="font-size: 13px;font-weight: normal;margin-left: 165px;cursor: pointer;color: gray;">Track Orders</a>
  <br>
  <a style="font-size: 13px;font-weight: normal;margin-left: 100px;cursor: pointer;color: gray;">Gift Cards</a>
  <a style="font-size: 13px;font-weight: normal;margin-left: 165px;cursor: pointer;color: gray;">Shipping</a><br>
  <a style="font-size: 13px;font-weight: normal;margin-left: 323px;cursor: pointer;color: gray;">Cancellation</a><br>
  <a style="font-size: 13px;font-weight: normal;margin-left: 323px;cursor: pointer;color: gray;">Returns</a><br>
  <a style="font-size: 13px;font-weight: normal;margin-left: 323px;cursor: pointer;color: gray;">Whitehat</a><br>
  <a style="font-size: 13px;font-weight: normal;margin-left: 323px;cursor: pointer;color: gray;">Blog</a><br>
  <a style="font-size: 13px;font-weight: normal;margin-left: 323px;cursor: pointer;color: gray;">Careers</a><br>
  <a style="font-size: 13px;font-weight: normal;margin-left: 323px;cursor: pointer;color: gray;">Privacy policy</a><br>
  <a style="font-size: 13px;font-weight: normal;margin-left: 323px;cursor: pointer;color: gray;">Site Map</a><br>
<br><br><br>
   
</div>
